.main_notes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_notes form {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  width: 50rem;
  height: 20rem;
  border: none;
  margin-top: 3rem;
  box-shadow: 1px 1px 11px 2px #aaaaaa;
}
.main_notes form input {
  width: 98%;
  font-size: 2rem;
  border: none;
  outline: none;
  margin-top: 1rem;
}
.main_notes form textarea {
  border: 1px solid grey;
  outline: none;
  margin-top: 1rem;
  font-size: 1.5rem;
  border: none;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.main_notes form button {
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
}
.main_notes form .forsize {
  width: 100%;
  height: 100%;
  color: gray;
  cursor: pointer;
  color: rgb(233 163 35);
}
